<div>
  <div class="hero-card">
    <div class="content-container">
      <h1>Media Library you can trust</h1>
      <h2>Media Library you can trust</h2>
    </div>
  </div>
  <div class="content-container">
    <div class="blank-card slide-in-up">
      <h1>Media Library you can trust</h1>
      <h2>Media Library you can trust</h2>
    </div>
    <div class="product-card-l slide-in-left">
      <h1>Media Library you can trust</h1>
      <h2>Media Library you can trust</h2>
    </div>
    <div class="product-card-r slide-in-right">
      <h1>Media Library you can trust</h1>
      <h2>Media Library you can trust</h2>
    </div>
    <div class="product-card-l slide-in-left">
      <h1>Media Library you can trust</h1>
      <h2>Media Library you can trust</h2>
    </div>
    <div class="blank-card slide-in-up">
      <h1>Media Library you can trust</h1>
      <h2>Media Library you can trust</h2>
    </div>
  </div>
</div>
