/* You can add global styles to this file, and also import other style files */
:root {
  --dgrey: #101010;
  --lgrey: #e6e6e6;
  --soft-green: #a3c6a0;
  --medium-green: #4c8c4a;
  --dark-green: #2e4b2d;
  --sharp-green: #1cd955;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 70px; /* Match navbar height */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}
